@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers */
:root{
  --accent: #6366F1;
  --accent-2: #06B6D4;
  --danger: #ef4444;
  --muted: #6b7280;
}

/* small utility to limit page width */
.container {
  max-width: 1100px;
}
